@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #0B132A;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.margin-auto{
    margin: auto;
}

.work {
    background-color: #FF8C66 !important;
}

.play {
    background-color: #56C2E6 !important;
}

.study {
    background-color: #FF5C7C !important;
}

.exercise {
    background-color: #4ACF81 !important;
}

.social {
    background-color: #7536D3 !important;
}

.self-care {
    background-color: #F1C75B !important;
}

.bottom-card-color{
    background-color: #1C204B !important;
}

.profile-color{
    background-color: #5747EA !important;
}

.container {
    width: 80%;
    margin: 10rem auto 10rem;
    display: flex;
    justify-content: space-between;
    height: 33rem;
}

/* container left */
.container-left {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.profile-image-size {
    width: 5rem;
    border: white 4px solid;
    border-radius: 50%;
}

.profile-top {
    padding: 1rem;
    text-align: center;
    height: 57%;
    border-radius: 1rem 1rem 0 0;
}

.profile-bottom {
    height: 43%;
    display: flex;
    flex-direction: column;
}

.button-holder{
    margin: auto;
    width: 80%;
}

.botton-margin-middle{
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.profile-buton {
    width: 100%;
    text-align: left;
    font-size: larger;
    border: transparent;
    background-color: transparent;
    color: #71769E;
}

.profile-text-fix{
    margin-top: 4rem !important;
    text-align: left;
    width: 80%;
    margin: auto;
}

.profile-name{
    font-size: 2rem;
}

/* container left */


/* container right */
.container-right {
    width: 74%;
}

.margin-fix{
    margin-top: 1.32rem;
}

.responsive-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48%;
}

.cards{
    width: 31.5%;
    background-color: yellowgreen;
    border-radius: 1rem;
    overflow: hidden;
}

.card-top{
    height: 18%;
    background-color: orange;
    overflow: hidden;
    text-align: right;
    padding-right: 1.5rem;
}

.card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 88%;
}

.card-bottom{
    height: 82%;
    background-color: blueviolet;
}

.card-margin{
    padding-top: 1.5rem;
}

.card-content{
    padding-left: 2rem;
}

.card-padding-fix{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-title{
    font-size: 1.3rem;
    font-weight: bold;
}

.card-title-hrs{
    font-size: 4.5rem;
    color: white;
}

/* container right */


/* media queries */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .card-title-hrs{
        font-size: 2.5rem;
    }
}

@media (max-width: 425px) {
    
}
