@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: #0b132a;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.margin-auto {
    margin: auto;
}

.work {
    background-color: #ff8c66 !important;
}

.play {
    background-color: #56c2e6 !important;
}

.study {
    background-color: #ff5c7c !important;
}

.exercise {
    background-color: #4acf81 !important;
}

.social {
    background-color: #7536d3 !important;
}

.self-care {
    background-color: #f1c75b !important;
}

.bottom-card-color {
    background-color: #1c204b !important;
}

.profile-color {
    background-color: #5747ea !important;
}

.container {
    width: 80%;
    margin: 10rem auto 10rem;
    display: flex;
    justify-content: space-between;
    height: 33rem;
}

/* container left */
.container-left {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.profile-image-size {
    width: 5rem;
    border: white 4px solid;
    border-radius: 50%;
    
}

.profile-top {
    padding: 1rem;
    height: 57%;
    border-radius: 1rem 1rem 0 0;
}

.profile-bottom {
    height: 43%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
}

.button-holder {
    margin: auto;
    width: 80%;
}

.botton-margin-middle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-buton {
    width: 100%;
    text-align: left;
    font-size: larger;
    border: transparent;
    background-color: transparent;
    color: #71769e;
}

.profile-button.active {
    color: white !important;
}

.profile-report{
    color: #BDCCFF;
}

.profile-text-fix {
    margin-top: 1rem !important;
    text-align: left;
    width: 80%;
    margin: auto;
}

.profile-img-fix{
    width: 80%;
    margin: 1.5rem auto;
}

.profile-name {
    font-size: 2rem;
}

/* container left */

/* container right */
.container-right {
    width: 74%;
}

.margin-fix {
    margin-top: 1.32rem;
}

.responsive-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48%;
}

.cards {
    width: 31.5%;
    background-color: yellowgreen;
    border-radius: 1rem;
    /* overflow: hidden; */
}

.card-top {
    height: 18%;
    background-color: orange;
    overflow: hidden;
    text-align: right;
    padding-right: 1.5rem;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 88%;
}

.card-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.card-tooltip .card-tool-tip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
}

.card-tooltip:hover .card-tool-tip-text {
    visibility: visible;
}



.card-bottom {
    height: 82%;
    background-color: blueviolet;
}

.card-lastweek{
    color: #BDCCFF;
}

.card-margin {
    padding-top: 1.5rem;
}

.card-content {
    padding-left: 2rem;
}

.card-padding-fix {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-title-hrs {
    font-size: 4.5rem;
    color: white;
}

/* container right */

/* media queries */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .card-title-hrs {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .card-title-hrs {
        font-size: 2rem;
    }
}

@media (max-width: 425px) {}